// color
$primary: #FC786D;
$primary-purple: #F63669;
$white: #FFFFFF;
$dark: #3E3E3E;
$yellow: #FFD144;
$muted: #C6C6C6;
$background: #F2F8FF;
$bg-soft: #F2F8FF;
$bg-form: #fff;
$bg-category: #E3F0FF;
$btn-logout : #fff7f6;

// font
$font-family: "Plus Jakarta Sans", sans-serif;
$font-body: "Inter", sans-serif;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;